body {
    background-color: #bad5e4;
}

.neospring-iframe {
    height: 270px;
    width: 100%;
    margin: 0 aut;
    position: sticky;
    top: 8px;
    right: 16px;
    font-size: 18px;
}
 h1 {
  text-align: center;
  color: #4b6a92;
  font-size: 48px;
  font-family: "Aboreto", serif;
  font-weight: 1000;
  font-style: normal;
 }
/* Remove any border that might appear on the image link */
.HER{
  border: 5px solid #4b6a92; /* Border color and thickness */
  border-radius: 3px; /* Optional: Rounded corners */
  width: 31.5%; /* Adjust as needed */
  weight: auto;
  }
  
  /* Optional: Add a hover effect */
  .HER:hover {
    opacity: 0.8; /* Makes the image slightly transparent on hover */
  }
  .frank-ocean{
    border: 5px solid #4b6a92; /* Border color and thickness */
    border-radius: 3px; /* Optional: Rounded corners */
    width: 31.5%; /* Adjust as needed */
    height: auto;
  }
  
  /* Optional: Add a hover effect */
  .frank-ocean:hover {
    opacity: 0.8; /* Makes the image slightly transparent on hover */
  }
.lucky-daye{
  border: 5px solid #4b6a92; /* Border color and thickness */
  border-radius: 3px; /* Optional: Rounded corners */
  width: 31.5%; /* Adjust as needed */
  weight: auto;
  }
  
  /* Optional: Add a hover effect */
  .lucky-daye:hover {
    opacity: 0.8; /* Makes the image slightly transparent on hover */
  }
  